<form [formGroup]="CustomerModel.customerFormGroup">
  Code :
  <input
    formControlName="CustomerCodeControl"
    [(ngModel)]="CustomerModel.code"
    type="text"
  /><br />
  name :
  <input
    formControlName="CustomerNameControl"
    [(ngModel)]="CustomerModel.name"
    type="text"
  /><br />
  amount :
  <input
    [ngModelOptions]="{ standalone: true }"
    [(ngModel)]="CustomerModel.amount"
    type="text"
  /><br />
  <input
    type="button"
    (click)="addCustomer()"
    value="Add"
    [disabled]="!CustomerModel.customerFormGroup.valid"
  />
  <input
    type="button"
    [disabled]="disable"
    value="send to server"
    (click)="postToServer()"
  />
  <input
    type="button"
    [disabled]="disable"
    value="refresh data"
    (click)="getFromServer()"
  />
</form>

<div
  *ngIf="CustomerModel.customerFormGroup.dirty"
  [hidden]="!hasError('pattern', 'CustomerCodeControl')"
>
  Customer code format is not valid
</div>
<div [hidden]="!hasError('required', 'CustomerNameControl')">
  Customer name is required
</div>
<div [hidden]="!hasError('required', 'CustomerCodeControl')">
  Customer code is required
</div>

<div>Cust</div>

<grid-ui
  [grid-cols]="[
    { colName: 'code' },
    { colName: 'name' },
    { colName: 'amount' }
  ]"
  [grid-data]="Customers"
  (grid-selected)="selectCustomers($event)"
></grid-ui>
