<form [formGroup]="CustomerModel.customerFormGroup">
  Code :
  <input
    formControlName="CustomerCodeControl"
    [(ngModel)]="CustomerModel.code"
    type="text"
  /><br />
  name :
  <input
    formControlName="CustomerNameControl"
    [(ngModel)]="CustomerModel.name"
    type="text"
  /><br />
  amount :
  <input
    [ngModelOptions]="{ standalone: true }"
    [(ngModel)]="CustomerModel.amount"
    type="text"
  /><br />
  <input
    type="button"
    (click)="addCustomer()"
    value="Add"
    [disabled]="!CustomerModel.customerFormGroup.valid"
  />
</form>

<div
  [hidden]="
    CustomerModel.customerFormGroup.controls['CustomerCodeControl'].hasErrors[
      'pattern'
    ]
  "
>
  Customer code format is not valid
</div>

<table>
  <tr>
    <th>code</th>
    <th>name</th>
    <th>amount</th>
  </tr>
  <tr *ngFor="let customer of Customers">
    <td>{{ customer.code }}</td>
    <td>{{ customer.name }}</td>
    <td>{{ customer.amount }}</td>
  </tr>
</table>
